[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-tvhclient
Exec=harbour-tvhclient
Name=TVH Client

[X-Sailjail]
OrganizationName=org.nubecula
ApplicationName=tvhclient
Permissions=Internet;Audio
