[Desktop Entry]
Type=Application
Icon=harbour-tvhclient
Exec=sailjail -p harbour-tvhclient.desktop /usr/bin/harbour-tvhclient
Name=TVH Client

[X-Sailjail]
OrganizationName=org.nubecula
ApplicationName=TVHClient
Permissions=Internet;Audio
